body {
  margin: 0;
  font-family: Onest, sans-serif, Helvetica;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: rgb(223, 220, 216);
}
.parsed-content img {
  width: 100%;
}
img {
  width: 100%;
}
